.sidebar-content {
    height: 100vh;
    
    .container-links {
        margin-left: 20px;

        a {
            border-radius: 12px 0 0 12px;
            width: 100%;
            display: block;
            padding: 0.625rem;
            transition: background-color 0.4s ease, color 0.4s ease;
        }
    }
}