@tailwind base;
@tailwind components;
@tailwind utilities;

$blue: #335D70;
$blue-light: #3B7894;
$golden: #D6B56E;
$golden-light: #D9BD7D;
$grey: #C8C6C6;
$grey-light: #F4F3F3;

* {
    margin: 0;
    padding: 0;
    font-size: 1 rem;
    overflow: hidden;
};

